/ === Copyright ===
.copyright
  .container
    .row-fluid
      .span8
        %p
          2013 &copy; Unify. ALL Rights Reserved.
          %a{:href => "#"} Privacy Policy
          |
          %a{:href => "#"} Terms of Service
      .span4
        %a{:href => "index.html"}
          %img#logo-footer.pull-right{:alt => "", :src => "/assets/logo2-default.png"}/
    / /row-fluid
  / /container
/ /copyright
/ === End Copyright ===