/ === Header ===
.header
  .container
    / Logo
    .logo
      %a{:href => "index.html"}
        %img#logo-header{:alt => "Logo", :src => "/assets/logo1-default.png"}/
    / /logo
    / Menu
    .navbar
      .navbar-inner
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / /nav-collapse
        .nav-collapse.collapse
          %ul.nav.top-2
            %li.active
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Home
                %b.caret
              %ul.dropdown-menu
                %li.active
                  %a{:href => "index.html"} Option1: Landing Page
                %li
                  %a{:href => "page_home.html"} Option2: Header Option
                %li
                  %a{:href => "page_home4.html"} Option3: Revolution Slider
                %li
                  %a{:href => "page_home5.html"} Option4: Amazing Content
                %li
                  %a{:href => "page_home1.html"} Option5: Mixed Content
                %li
                  %a{:href => "page_home2.html"} Option6: Content with Sidebar
                %li
                  %a{:href => "page_home3.html"} Option7: Aplle Style Slider
                %li
                  %a{:href => "page_home_all.html"} Home All In One
              %b.caret-out
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
                Pages
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "page_about.html"} About Us
                %li
                  %a{:href => "page_services.html"} Services
                %li
                  %a{:href => "page_pricing.html"} Pricing
                %li
                  %a{:href => "page_coming_soon.html"} Coming Soon
                %li
                  %a{:href => "page_faq.html"} FAQs
                %li
                  %a{:href => "page_search.html"} Search Result
                %li
                  %a{:href => "page_gallery.html"} Gallery
                %li
                  %a{:href => "page_registration.html"} Registration
                %li
                  %a{:href => "page_login.html"} Login
                %li
                  %a{:href => "page_404.html"} 404
                %li
                  %a{:href => "page_clients.html"} Clients
                %li
                  %a{:href => "page_privacy.html"} Privacy Policy
                %li
                  %a{:href => "page_terms.html"} Terms of Service
                %li
                  %a{:href => "page_column_left.html"} 2 Columns (Left)
                %li
                  %a{:href => "page_column_right.html"} 2 Columns (Right)
              %b.caret-out
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
                Features
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "feature_grid.html"} Grid Layout
                %li
                  %a{:href => "feature_typography.html"} Typography
                %li
                  %a{:href => "feature_thumbnail.html"} Thumbnails
                %li
                  %a{:href => "feature_component.html"} Components
                %li
                  %a{:href => "feature_navigation.html"} Navigation
                %li
                  %a{:href => "feature_table.html"} Tables
                %li
                  %a{:href => "feature_form.html"} Forms
                %li
                  %a{:href => "feature_icons.html"} Icons
                %li
                  %a{:href => "feature_button.html"} Buttons
              %b.caret-out
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Portfolio
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "portfolio.html"} Portfolio
                %li
                  %a{:href => "portfolio_item.html"} Portfolio Item
                %li
                  %a{:href => "portfolio_2columns.html"} Portfolio 2 Columns
                %li
                  %a{:href => "portfolio_3columns.html"} Portfolio 3 Columns
                %li
                  %a{:href => "portfolio_4columns.html"} Portfolio 4 Columns
              %b.caret-out
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Blog
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "blog.html"} Blog
                %li
                  %a{:href => "blog_item.html"} Blog Item
                %li
                  %a{:href => "blog_left_sidebar.html"} Blog Left Sidebar
                %li
                  %a{:href => "blog_item_left_sidebar.html"} Blog Item Left Sidebar
              %b.caret-out
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Contact
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "page_contact.html"} Contact Default
                %li
                  %a{:href => "page_contact1.html"} Contact Boxed Map
              %b.caret-out
            %li
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Profile
                %b.caret
              %ul.dropdown-menu
                - if user_signed_in?
                  %li
                    = link_to 'Edit account', edit_user_registration_path
                - else
                  %li
                    = link_to 'Sign up', new_user_registration_path
                - if user_signed_in?
                  - if current_user.has_role? :admin
                    %li
                      = link_to 'Admin', users_path
              %b.caret-out
            %li
              %a.search
                %i.icon-search.search-btn
          .search-open
            .input-append
              %form
                %input.span3{:placeholder => "Search", :type => "text"}/
                %button.btn-u{:type => "submit"} Go
        / /nav-collapse
      / /navbar-inner
    / /navbar
  / /container
/ /header
/ === End Header ===