/ Our Clients
#clients-flexslider.flexslider.home.clients
  .headline
    %h3 Our Clients
  %ul.slides
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/hp_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/hp.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/igneus_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/igneus.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/vadafone_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/vadafone.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/walmart_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/walmart.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/shell_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/shell.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/natural_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/natural.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/aztec_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/aztec.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/gamescast_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/gamescast.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/cisco_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/cisco.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/everyday_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/everyday.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/cocacola_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/cocacola.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/spinworkx_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/spinworkx.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/shell_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/shell.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/natural_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/natural.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/gamescast_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/gamescast.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/everyday_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/everyday.png"}/
    %li
      %a{:href => "#"}
        %img{:alt => "", :src => "/assets/clients/spinworkx_grey.png"}/
        %img.color-img{:alt => "", :src => "/assets/clients/spinworkx.png"}/
/ /flexslider
/ //End Our Clients