/ === Purchase Block ===
.row-fluid.purchase.margin-bottom-30
  .container
    .span9
      %span Unify is a clean and fully responsive incredible Template.
      %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.
    %a.btn-buy.hover-effect{:href => "#"} Purchase Now
/ /row-fluid
/ End Purchase Block