/ Recent Works
.headline
  %h3 Recent Works
%ul.thumbnails
  %li.span3
    .thumbnail-style.thumbnail-kenburn
      .thumbnail-img
        .overflow-hidden
          %img{:alt => "", :src => "/assets/carousel/2.jpg"}/
        %a.btn-more.hover-effect{:href => "#"} read more +
      %h3
        %a.hover-effect{:href => "#"} Our Work
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
  %li.span3
    .thumbnail-style.thumbnail-kenburn
      .thumbnail-img
        .overflow-hidden
          %img{:alt => "", :src => "/assets/carousel/3.jpg"}/
        %a.btn-more.hover-effect{:href => "#"} read more +
      %h3
        %a.hover-effect{:href => "#"} One More Work
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
  %li.span3
    .thumbnail-style.thumbnail-kenburn
      .thumbnail-img
        .overflow-hidden
          %img{:alt => "", :src => "/assets/carousel/9.jpg"}/
        %a.btn-more.hover-effect{:href => "#"} read more +
      %h3
        %a.hover-effect{:href => "#"} Another Work
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
  %li.span3
    .thumbnail-style.thumbnail-kenburn
      .thumbnail-img
        .overflow-hidden
          %img{:alt => "", :src => "/assets/carousel/10.jpg"}/
        %a.btn-more.hover-effect{:href => "#"} read more +
      %h3
        %a.hover-effect{:href => "#"} Huge Work
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.
/ /thumbnails
/ //End Recent Works