/ Service Blocks
.row-fluid
  .span4
    .service.clearfix
      %i.icon-resize-small
      .desc
        %h4 Fully Responsive
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
  .span4
    .service.clearfix
      %i.icon-cogs
      .desc
        %h4 HTML5 + CSS3
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
  .span4
    .service.clearfix
      %i.icon-plane
      .desc
        %h4 Launch Ready
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...
/ /row-fluid
/ //End Service Blokcs