/ === Slider ===
.slider-inner
  #da-slider.da-slider
    .da-slide
      %h2
        %i CLEAN &amp; FRESH
        %br/
        %i FULLY RESPONSIVE
        %br/
        %i DESIGN
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        %img{:alt => "", :src => "/assets/1.png"}/
    .da-slide
      %h2
        %i RESPONSIVE VIDEO
        %br/
        %i SUPPORT AND
        %br/
        %i MANY MORE
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
      .da-img.span6
        .span6
          %iframe{:allowFullScreen => "", :frameborder => "0", :height => "320", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/47911018", :webkitAllowFullScreen => "", :width => "100%"}
    .da-slide
      %h2
        %i USING BEST WEB
        %br/
        %i SOLUTIONS WITH
        %br/
        %i HTML5/CSS3
      %p
        %i Lorem ipsum dolor amet
        %br/
        %i tempor incididunt ut
        %br/
        %i veniam omnis
      .da-img
        %img{:alt => "image01", :src => "/assets/html5andcss3.png"}/
    %nav.da-arrows
      %span.da-arrows-prev
      %span.da-arrows-next
  / /da-slider
/ /slider
/ === End Slider ===