/ === Style Switcher ===
%i.style-switcher-btn.icon-cogs
.style-switcher
  .theme-close
    %i.icon-remove
  .theme-heading Theme Colors
  %ul.unstyled
    %li.theme-default.theme-active{"data-header" => "light", "data-style" => "default"}
    %li.theme-blue{"data-header" => "light", "data-style" => "blue"}
    %li.theme-orange{"data-header" => "light", "data-style" => "orange"}
    %li.theme-red{"data-header" => "light", "data-style" => "red"}
    %li.theme-light{"data-header" => "light", "data-style" => "light"}
/ /style-switcher